<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>servidores</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark mb-4">
      <a class="navbar-brand" href="#">REGISTRO Y LISTADO DE ESTUDIANTES DEL CURSO DE DISEÑO</a>
    </nav>
